.about {
    padding: 20px;
    
    .skills {
        background: #000000;
        display: grid;
        grid-template-columns: repeat(3, 4fr);
        font-family: Verdana, Geneva, Tahoma, sans-serif;

        .skill {
            color: #fff;

            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                color: #03a9f4;
            }
        }
    }
}

.highlight{
    color:  #ff0eff;
}