#navbar{
    background:#333;
    min-height: 20px;
    border-bottom: solid 1px #03a9f4;
    }
    .navlink{
        padding: 5px;
        font-family: sans-serif;
        font-size: 20px;
        color: #fff;
    }
    .active{
        color: red;
    }